.tanzania-contact {
  background: #ffffff;
  padding: 70px 20px;
  display: flex;
  justify-content: center;
}
.contact-wrapper {
  max-width: 725px;
  width: 100%;
}
.contact-wrapper h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 12px;
}
.sub-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 28px;
}
.form-group {
  margin-bottom: 26px;
}
.form-group h4 {
  font-size: 20px;
  margin-bottom: 14px;
  font-weight: 600;
}
.form-group label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}
.form-group input[type="checkbox"] {
  margin-right: 8px;
  width: auto;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag-radio input {
  display: none;
}
.tag-radio span {
  padding: 6px 14px;
  background: #f2f2f2;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.25s;
}
.tag-radio input:checked + span {
  background: #0057ff;
  color: #fff;
  border-color: #0057ff;
}
input,
textarea {
  width: 100%;
  padding: 22px 18px;
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  background: #fff;
  color: #000;
}
select {
  width: 100%;
  height: 48px;
  padding: 0 18px; 
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
  color: #000;
  cursor: pointer;
  appearance: auto;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}
textarea {
  height: 90px;
  resize: none;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #7b4dff;
}
.submit-btn {
  width: 100%;
  padding: 14px;
  background: #ff5254;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s;
}
.submit-btn:hover {
  opacity: 0.9;
}
@media (max-width: 480px) {
  .contact-wrapper h1 {
    font-size: 26px;
  }
}
.form-group.userdetails-box label {
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 600;
    color: #000;
}

