.tanzania-contact {
  background: #ffffff;
  padding: 70px 20px;
  display: flex;
  justify-content: center;
}
.tanzania-contact .contact-wrapper {
  max-width: 725px;
  width: 100%;
}
.contact-wrapper h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 12px;
}
.tanzania-contact .contact-wrapper .sub-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 28px;
}
.tanzania-contact .contact-wrapper .form-group {
  margin-bottom: 26px;
}
.tanzania-contact .contact-wrapper .form-group h4 {
  font-size: 20px;
  margin-bottom: 14px;
  font-weight: 600;
}
.tanzania-contact .contact-wrapper .form-group label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}
.tanzania-contact .contact-wrapper .form-group input[type="checkbox"] {
  margin-right: 8px;
  width: auto;
}
.tanzania-contact .contact-wrapper .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tanzania-contact .contact-wrapper .tag-radio input {
  display: none;
}
.tanzania-contact .contact-wrapper .tag-radio span {
  padding: 6px 14px;
  background: #f2f2f2;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.25s;
}
.tanzania-contact .contact-wrapper .tag-radio input:checked + span {
  background: #0057ff;
  color: #fff;
  border-color: #0057ff;
}
.tanzania-contact .contact-wrapper input, textarea {
    width: 100%;
    padding: 15px 18px !important;
    font-size: 13px;
    border-radius: 6px !important;
    border: 1px solid #ddd !important;
    outline: none;
    background: #fff;
    color: #000;
}
.tanzania-contact .contact-wrapper select {
    width: 100%;
    height: 48px;
    padding: 0 18px !important;
    font-size: 13px;
    border-radius: 6px !important;
    border: 1px solid #ddd !important;
    background: #fff;
    color: #000;
    cursor: pointer;
    appearance: auto !important;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
}
.tanzania-contact .contact-wrapper textarea {
  height: 90px;
  resize: none;
}
.tanzania-contact .contact-wrapper input:focus,
select:focus,
textarea:focus {
  border-color: #7b4dff;
}
.tanzania-contact .contact-wrapper .submit-btn {
  width: 100%;
  padding: 14px;
  background: #ff5254;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s;
}
.tanzania-contact .contact-wrapper .submit-btn:hover {
  opacity: 0.9;
}
@media (max-width: 480px) {
  .tanzania-contact .contact-wrapper h1 {
    font-size: 26px;
  }
}
.tanzania-contact .form-group.userdetails-box label {
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 600;
    color: #000;
}

