
.tabs {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.tab {
  padding: 12px 28px;
  border-radius: 40px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  color: #0057ff;
}
.tab.active {
  background: #011833;
  color: #fff;
}
.sample-card {
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}
.sample-card img {
  width: 100%;
  display: block;
}
.swiper-button-prev,
.swiper-button-next {
  color: #0057ff;
  width: 35px;
  height: 35px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 35px;
  font-weight: bold;
}
