.case-card {
  width: 100%;
  min-height: 400px;
  border: 1.5px solid #cfcfcf;
  border-radius: 40px;
  padding: 25px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.case-card h3 {
    font-size: 24px;
    font-weight: 700;
    color: #222;
}
.case-image {
  overflow: hidden;
  position: relative;
}
.hide-casepara {
  width: 100%;
  height: 100%;
  border-top: 2px solid #ff5254;
  position: absolute;
  bottom: 0; 
  left: 0;
  background: #4779c5fc;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.case-card:hover .hide-casepara {
  transform: translateY(0);
  opacity: 1;
}

.hide-casepara p{
  color: #fff;
}
.case-image img {
  width: 100%;
  height: auto;
  display: block;
}

.read-more {
  font-size: 20px;
  font-weight: 670;
  color: #111;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.2s ease;
}

.read-more:hover {
  transform: translateX(5px);
}

.row.sus-stories {
    display: flex;
    align-items: center;
}
.suc-stories-para h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
}
.success-stories-sec {
    width: 100%;
    position: relative;
    background: #f5f5f5;
    margin-top: 70px;
    padding: 80px 0px;
}
.custom-nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 20px;
}

.custom-prev,
.custom-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.5px solid #000;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.custom-prev:hover,
.custom-next:hover {
  background: #011833;
  color: #fff;
}
