.contact-form-wrapper {
  background: #fff;
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
.contact-form-wrapper .contact-form {
  width: 100%;
}
.contact-form-wrapper .form-row {
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}
.contact-form-wrapper .form-group {
  flex: 1;
}
.contact-form-wrapper .form-group.small {
  max-width: 200px;
}
.contact-form-wrapper label {
  display: block;
  font-size: 16px;
  color: #777;
}
.contact-form-wrapper .form-row.cont-phone {
    padding: 20px 0px;
}
.contact-form-wrapper .form-row.cont-phone input {
    height: 50px;
}
.form-row.cont-phone select{
    height: 50px;
}
.contact-form-wrapper textarea.textarea-cont-box {
    width: 100%;
    height: 95px;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0px !important;
}
.contact-form-wrapper input, select, textarea {
    width: 100%;
    height: 20px;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    font-size: 16px;
    outline: none;
    background: transparent;
    padding: 0px !important;
    border-radius: 0px !important;
}
.contact-form-wrapper textarea {
  resize: none;
}
.contact-form-wrapper .captcha-box span {
    color: #000;
    font-size: 12px;
    font-weight: 500;
}
.contact-form-wrapper .captcha-box  .checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
}
.contact-form-wrapper .captcha-box {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  width: 300px;
  margin: 0px 0px 20px 0px;
}
.contact-form-wrapper.checkbox {
  width: 22px;
  height: 22px;
  border: 2px solid #444;
}
.contact-form-wrapper .captcha-logo {
  margin-left: auto;
  font-size: 12px;
  text-align: right;
  color: #555;
}
.contact-form-wrapper .form-note {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  margin-bottom: 30px;
}
.contact-form-wrapper .submit-btn {
    width: 100%;
    background: #ff5254;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 16px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.contact-form-wrapper .submit-btn:hover {
  background: #e84343;
}
.smp_ltgcl_sec_card_box h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}
@media (max-width: 768px) {
  .contact-form-wrapper .form-row {
    flex-direction: column;
    gap: 20px;
  }
  .contact-form-wrapper .captcha-box {
    width: 100%;
  }
}