.contact-form-wrapper {
  background: #fff;
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
.contact-form {
  width: 100%;
}
.form-row {
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}
.form-group {
  flex: 1;
}
.form-group.small {
  max-width: 200px;
}
label {
  display: block;
  font-size: 16px;
  color: #777;
}
.form-row.cont-phone {
    padding: 20px 0px;
}
.form-row.cont-phone input {
    height: 50px;
}
.form-row.cont-phone select{
    height: 50px;
}
textarea.textarea-cont-box {
    width: 100%;
    height: 95px;
}
input,
select,
textarea {
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  background: transparent;
}
textarea {
  resize: none;
}
.captcha-box {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  width: 300px;
  margin: 0px 0px 20px 0px;
}
.checkbox {
  width: 22px;
  height: 22px;
  border: 2px solid #444;
}
.captcha-logo {
  margin-left: auto;
  font-size: 12px;
  text-align: right;
  color: #555;
}
.form-note {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  margin-bottom: 30px;
}
.submit-btn {
    width: 100%;
    background: #ff5254;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 16px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.submit-btn:hover {
  background: #e84343;
}
.smp_ltgcl_sec_card_box h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 20px;
  }
  .captcha-box {
    width: 100%;
  }
}