.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 50px;
}
.video-card {
  height: 340px;
  border-radius: 28px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.video-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}
.video-info {
  background: #fff;
  border-radius: 30px;
  padding: 14px 20px;
}
.video-info h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}
.video-card:hover .video-info p{
    display: block;
}
.video-info p {
    font-size: 13px;
    color: #666;
    padding: 0px;
    margin: 0px;
    display: none;
}
.play-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #0057ff;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:10000;
}
.video-modal-content {
  width: 80%;
  max-width: 900px;
  position: relative;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  z-index: 100;
}
.video-modal-content iframe {
  width: 100%;
  height: 500px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
@media (max-width: 992px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
  .video-card {
    height: 260px;
  }
  .video-modal-content iframe {
    height: 280px;
  }
}
