.smp-open-positions {
  width: 100%;
  position: relative;
}
.smp-open-positions .smp-filters {
    width: 50%;
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
    float: right;
}
.smp-open-positions .smp-filters select {
    flex: 1;
    width: 100%;
    height: auto;
    padding: 12px !important;
    border-radius: 8px !important;
    border: 1px solid #c1c7d3 !important;
    font-weight: 600;
    background: #e6efff;
}
.smp-open-positions .smp-job-list {
  border: 1px solid #c1c7d3;
  border-radius: 12px;
  overflow: hidden;
}
.smp-open-positions .smp-job-body {
    width: 100%;
    position: relative;
    padding: 20px 30px 30px 30px;
    border-top: 1px solid #c1c7d3;
}
.smp-open-positions .smp-job-card {
    border-bottom: 1px solid #c1c7d3;
}
.smp-open-positions .smp-job-header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  cursor: pointer;
}
.smp-open-positions .smp-job-header h4 {
    color: #011833;
    font-size: 20px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}
.smp-open-positions .smp-job-header span {
    color: #0057ff;
    font-weight: 600;
}
.smp-open-positions.smp-job-body {
  padding: 18px;
  background: #f9fbff;
}
.smp-open-positions .smp-apply-btn {
  margin-top: 15px;
  padding: 10px 18px;
  background: #0b5cff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.smp-open-positions .smp-modal {
  min-width: 100%;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.smp-open-positions .smp-modal-box {
  background: #fff;
  width: 600px;
  padding: 25px;
  border-radius: 12px;
}
.smp-open-positions .smp-modal-box input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.smp-open-positions .smp-modal-actions {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
.smp-open-positions .smp-modal-box h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
}

.smp-open-positions .smp-submit {
  flex: 1;
  background: #0b5cff;
  color: #fff;
  border: none;
  padding: 10px;
}
.smp-open-positions .smp-close {
    flex: 1;
    background: #e5e7eb;
    border: none;
    padding: 5px 20px;
    color: #ff5254;
    font-size: 18px;
    font-weight: 600;
}
.smp-open-positions .no-jobs {
  text-align: center;
  padding: 20px;
  color: #777;
}
.smp-open-positions .left-smp-filbox {
    width: 100%;
    position: relative;
    float: right;
}