body {
  font-family: 'Montserrat', sans-serif;
}
.smp_nav_menu {
    width: 100%;
    position: relative;
}
ul.nav_menu_list {
    width: 100%;
    position: relative;
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.row.haeder_smp {
    display: flex;
    align-items: center;
}
button.smp-golbal-btn {
    padding: 10px 20px;
    background: #ff5254;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    border: none;
    line-height: 28px;
    border-radius: 1282px 1282px 1282px 1282px;
    transition:0.3s ease;
}
button.smp-golbal-btn:hover {
  background: #011833; 
}
.header_section {
    width: 100%;
    position: relative;
    background: #3d72c2f2;
    padding: 5px 0px;
    transition: all 0.3s ease;
}
.header_section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #0057ff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
ul.nav_menu_list li a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
}
ul.nav_menu_list li a:hover {
  color: #011833bd;
}
.smp_header_logo img {
    filter: brightness(0) invert(1);
    width: 125px !important;
}
.google-add-hero {
    width: 100%;
    position: relative;
    padding: 70px 0px;
    background: #3d72c2f2;
    background-position: center;
    background-size: cover;
}
.add-hero-ban-cont h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.3px;
    letter-spacing: .5px;
    color: #eeb9e1;
    padding: 0px;
    margin: 0px;
}
.add-hero-ban-cont h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 82px;
    color: #fff;
    margin: 40px 0px 20px 0px;
}
.add-hero-ban-cont h1 span {
    color: #eeb9e1 !important;
}
.smp_heder_btn {
    width: 100%;
    text-align: right;
}
.add-hero-ban-cont p {
    color: #fff;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}
.add-hero-btn-box {
    width: 100%;
    position: relative;
    margin-top: 25px;
}
.row.add_hero {
    display: flex;
    align-items: center;
}
.agency_brand {
    width: 100%;
    position: relative;
    margin: 40px 0px 80px 0px;
}
.agency_brand_pic {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  gap: 20px;
}

.agency_brand_pic img {
  width: 100%;
  height: auto;
  display: block;
}
.comon-heading-box {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.comon-heading-box h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}
.comon-heading-box h2 span {
    color: #0057ff;
}
.row.brad_googleadd {
    display: flex;
    align-items: center;
}
.brad_googleadd-para {
    width: 100%;
    position: relative;
    padding-left: 50px;
}
.googla-agec-logo {
    width: 80%;
    margin: 0 auto;
}
.add_agency-sec {
    width: 100%;
    position: relative;
    margin-top: 80px;
}
.brad_googleadd-para h3 {
    font-size: 24px;
    font-weight: 700;
}
.comon-heading-box.google_gark_left {
    width: 100%;
    text-align: left;
    padding-right: 90px;
}
.google_gark_para h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0px;
}
.google_garketing-sec {
    width: 100%;
    position: relative;
    background: #0057ff1c;
    padding: 70px 0px;
}
.conversions-box {
    width: 100%;
    position: relative;
    background: #4779c5;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
}
.conversions-box h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: #fff;
}
.conversions-box p {
    color: #fff;
    margin: 30px;
}
.google-tab-sec {
    width: 100%;
    position: relative;
    padding-top: 70px;
}
.tabcon_tentadd {
    width: 100%;
    position: relative;
    padding-bottom: 60px;
}
.framework-sec {
    width: 100%;
    position: relative;
    background: #0057ff;
    padding: 70px 0px 50px 0px;
    margin-top: 70px;
}
.frame-images-box {
    padding: 20px 30px;
    border-radius: 32px 32px 32px 32px;
    width: 115px;
    text-align: center;
    margin-bottom:20px;
}
.frame-images-box img {
    width: 45px;
    padding: 0px;
    margin: 0px;
}
.frame-work-box {
    width: 100%;
    background: #ffffff;
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 25px;
}
.frame-detail-con h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.comon-heading-box.white-main-hed h2 {
    color: #fff;
}
.comon-heading-box.white-main-hed h2 span {
    color: #eebae2;
}
.comon-heading-box.white-main-hed p {
    color: #fff;
    font-weight: 500;
}
.comon-heading-box.white-main-hed{
    padding-bottom: 30px;
}
.frame-btn-box {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.digital-vs-rest-sec {
    width: 100%;
    position: relative;
    padding: 70px 0px;
    background: #e3edff;
}
.digital-card {
    width: 100%;
    background: #ffffff;
    border-radius: 25px;
    padding: 30px;
}
.digital-card h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
ul.digital-card-list {
    width: 100%;
    position: relative;
    padding: 0px;
    list-style: none;
}
ul.digital-card-list li {
    width: 100%;
    display: flex;
    gap: 10px;
    border-top: 1px solid #bebebe;
    padding: 20px 0;
    align-items: flex-start;
}
ul.digital-card-list li svg {
    font-size: 22px;
    flex-shrink: 0;
    min-width: 20px;
    transform: translate(0px, 3px);
    color: green;
}
ul.digital-card-list li .gigital-check-ico{
    color:#ff5254 !important;
     font-size: 17px !important;
}

.digital-card.add-colorbg {
    background: #0057ff;
    color: #fff;
}
.digital-card.add-colorbg ul li svg {
    color: #63eac4 !important;
}
.digital-card-main {
    width: 100%;
    position: relative;
    margin: 50px 0px;
}
.full-funell-sec {
    width: 100%;
    position: relative;
    padding: 70px 0px;
}
.funnel-details-card {
    width: 100%;
    background: #0057ff;
    border-radius: 25px;
    padding: 30px;
    color: #fff;
}
.funnel-details-card h3 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 30px;
}
.funnel-details_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 0px 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: 1px solid #bebebe;
}
.funnel-details_list li {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    align-items: flex-start;
}
.funnel-details_list li svg {
    font-size: 20px;
    flex-shrink: 0;
    min-width: 20px;
    transform: translate(0px, 5px);
}
.funnel-main-details {
    width: 100%;
    margin-top: 50px;
}
.customers-exp-data h3 {
    font-size: 34px;
    font-weight: 600;
    margin: 20px 0px;
}
.customers-exp-data {
    width: 100%;
    position: relative;
}
ul.customers-exp-list li {
    width: 100%;
    padding-bottom: 2px;
}
ul.customers-exp-list li::marker {
    color: #898181;
    font-size: 1.4em;
}
.service-packages .table thead th {
    background-color: #0057ff;
    padding: 20px;
    color: #fff;
}
.service-packages .table tbody tr {
    vertical-align: middle;
}
.service-packages .table tbody tr td{
     padding: 20px;
}
.service-packages .table tbody tr td svg{
     color: #0057ff;
     font-size: 25px;
}
.service-packages .table thead th:first-child {
    border-top-left-radius: 15px;
}
.service-packages .table thead th:last-child {
    border-top-right-radius: 15px;
}
.service-packages {
    width: 100%;
    position: relative;
    margin: 50px 0px 30px 0px;
}
.service-packages-sec {
    width: 100%;
    position: relative;
    padding: 70px 0px;
}
.faq-accordion .accordion-button::after {
    content: "+";
    background-image: none;
    font-size: 40px;
    font-weight: 200;
    color: #000;
    line-height: 1;
    position: absolute;
    left:0px;
    top: 37%;
    transform: translateY(-50%);
}
.faq-accordion .accordion-button:not(.collapsed)::after {
    content: "−";
}
.addfaq_main {
    width: 100%;
    position: relative;
    margin-top: 50px;
}
.accordion-header button {
    font-size: 24px;
    font-weight: 700;
    padding: 25px 25px 25px 40px;
    background: none;
    border: none;
}
.accordion-button:not(.collapsed){
    background: none;
    border: none;
}
.accordion-button:focus {
    box-shadow: none;
    background: none;
    border: none;
}
.blog-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-heading h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}
.blog-heading h2 span {
    color: #0057ff;
}
.blog-card-box h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.blog-card-box h3 a{
  text-decoration: none;
  color: #000;
}
.blog-card-pic {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.blog-slid-box {
    width: 100%;
    position: relative;
    margin-top: 50px;
}
.add-page-blog-sec {
    width: 100%;
    position: relative;
    padding: 70px 0px;
}
.blog-card-box:hover h3 a {
    color: #0057ff;
}
.blog-card-box:hover img {
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.8;
}
.smp_dontcharge_sec {
    width: 100%;
    float: left;
    position: relative;
    padding: 160px 0 70px 0;
    margin: 0px 0 0px 0;
    background-color: #011833;
    background-repeat: no-repeat;
    background-position: left;
}
.smp_ltgcl_sec_card {
    width: 100%;
    float: left;
    position: relative;
}
.smp_ltgcl_sec_card_box {
    width: 50%;
    float: right;
    position: relative;
    padding: 0 0 0 0px;
    color: #fff;
}
.smp_ltgcl_sec_card_box p {
    margin: 20px 0px;
}
.smp-inner-dont-charge {
    width: 100%;
    position: relative;
    float: inline-end;
}
ul.smpcoust-profile {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 0px;
    list-style: none;
    width: 400px;
    position: absolute;
    right: 0;
    top: -210px;
}
.smpcoust-brad-pico {
    width: 100%;
    position: relative;
}
ul.smpcoust-profile li {
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}
ul.smpcoust-profile li:not(:first-child) {
  margin-left: -20px;
}
.smp-footer-sec {
    width: 100%;
    position: relative;
    background: #3467d8;
    overflow: hidden;
    padding: 70px 0px 30px 0px;
}
.smp-footer-card {
    width: 100%;
    position: relative;
}
.smp-footer-card h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
ul.smp-footer-list {
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
ul.smp-footer-list li {
    padding-bottom: 18px;
}
ul.smp-footer-list li a {
    color: #fff;
    font-size: 17px;
    letter-spacing: 0.2px;
    text-decoration: none;
}
ul.smp-footer-list li a:hover {
    color: #ff5254;
    transition: 0.5s;
}
.contact-detail-cont h5 {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #fff;
    padding-bottom: 5px;
    margin: 0px;
}
.contact-detail-cont {
    width: 100%;
    position: relative;
    padding-bottom: 30px;
}
.contact-detail-cont p {
    color: #fff;
    padding: 0px;
    margin: 0px;
}
.contact-detail-cont a {
    color: #fff;
    text-decoration: none;
}
ul.footer-social {
    width: 100%;
    position: relative;
    display: flex;
    padding: 0px;
    list-style: none;
    margin: 15px 0px 0px 0px;
}
ul.footer-social li a {
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 55px;
    border: 1px solid #75b6ff;
    background-color: #75b6ff;
    border-radius: 50%;
    color: #fff;
    float: left;
    position: relative;
    font-size: 24px;
    margin-right: 20px;
}
ul.footer-social li a:hover {
    border: 1px solid #ff5254;
    color: #ff5254;
}
.contact-detail-cont a:hover{
    color: #ff5254;
    transform: 0.5s;
}
.footer-review-box {
    position: relative;
    padding: 15px 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 12px 18px 0 rgb(0 0 0 / 2%);
}
.inner-foo-review {
    width: 100%;
    position: relative;
    background: #fff;
    padding: 20px;
}
.footer-clut-bord {
    border: 1px solid #cecece;
    border-radius: 8px;
    overflow: hidden;
}
.clutch-btn-box {
    width: 100%;
    position: relative;
    background: #011833;
    padding: 13px;
}
.clutch-btn-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
.clutch-btn-box img {
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    width: 53px;
    filter: brightness(0) invert(1);
}
.footer-headiew {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 20px 15px 12px;
}
.footer-headiew img {
    display: block;
    height: 30px;
    margin-right: 15px;
    max-height: 30px;
    max-width: 30px;
    width: 30px;
}
.footer-headiew a {
    color: #17313b;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 500;
}
.footer-headiew a:hover {
    text-decoration: underline;
    transition: 0.5s;
}
.footer-rating-box {
    align-items: center;
    display: flex;
    height: 25px;
    margin-left: 15px;
    padding: 1px 0 1px 10px;
    transform: skewX(-41deg);
    width: 190px;
    background: #17313b;
    border: 1px solid #17313b;
}
.footer-rating-box h3 {
    color: #fff;
    font-size: 16px;
    transform: skewX(41deg);
    padding: 0px;
    margin: 0px;
}
.footer-rating-star {
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(74, 82, 85, .251);
    transform: translate(22px, 0px);
    padding: 0px 12px;
}
.footer-rating-star img {
    width: 64px;
    transform: skewX(34deg);
    padding-right: 10px;
}
.footer-rating-star a {
    font-size: 12px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    color: #000;
}
.footer-rating-star a:hover {
    text-decoration: underline;
}
.footer-rat-point {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;
}
.widget_rating__info a {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.widget_rating__info p {
    padding: 0px;
    margin: 0px;
    color: #4a5255;
    font-size: 12px;
    letter-spacing: .2px;
    line-height: 14px;
}
p.rating__info-rating {
    color: #17313b;
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 18px;
    margin: 0;
}
.widget_rating__info {
    width: 100%;
    position: relative;
    margin-bottom: 22px;
}
.widget_rating__info:hover p {
    color: #ff5254;
}
.widget_rating__info::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ff5254;
    bottom: -10px;
    left: 0;
}

.widget_rating__info::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    z-index: 3;
    background: linear-gradient(
        to right,
        #ff5254 0%,
        #ff5254 20%,

        white 20%,
        white 25%,

        #ff5254 25%,
        #ff5254 45%,

        white 45%,
        white 50%,

        #ff5254 50%,
        #ff5254 70%,

        white 70%,
        white 75%,

        #ff5254 75%,
        #ff5254 100%
    );
}
.smp-footer-copwrite {
    width: 100%;
    position: relative;
    background-color: #0050c6;
    padding: 15px 0;
}
.smp-footer-cop-box {
    width: 100%;
    position: relative;
}
.smp-footer-cop-box ul {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #fff;
}
.smp-footer-partner {
    width: 100%;
    position: relative;
    padding-left: 60px;
}
.smp-footer-partner ul {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.smp-footer-partner ul li img {
    width: 115px !important;
}
.row.smp-footer-cop {
    display: flex;
    align-items: center;
}
.smp-footer-cop-box ul li a {
    color: #fff;
}
.smp-footer-cop-box ul li a:hover{
    color: #ff5254;
}
.web-effective-para {
    width: 100%;
    position: relative;
}
.web-effective-para h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 25px;
}
.effective-rors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 80px;
    align-items: center;
}
@media (max-width: 767px) {
    .effective-rors {
        grid-template-columns: 1fr;
    }
}
.web-effective {
    width: 100%;
    position: relative;
    padding-top: 60px;
}
.make-us-effective-sec {
    width: 100%;
    position: relative;
    padding: 70px 0px 0px 0px;
}
.smp-best-website-sec {
    width: 100%;
    position: relative;
    background: #0057ff;
    padding: 70px 0px;
    margin-top: 70px;
}